.container-twocolumn { display: flex; align-items: baseline;}
.column-2-1 { display: inline-block; width: 120px; white-space: normal; }
.column-2-2 { display: inline-block; width: 900px; white-space: normal; }
